.site-footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-content {
    margin: 0 auto;
    max-width: 1360px;
    padding: 40px ;
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 155px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}


.footer-nav ul{
    display: flex;
    gap: 20px;
}

.footer-nav ul ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.footer-nav strong{
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 16px;
    display: block;
    font-weight: 400;
}

.footer-nav li a{
    color: #ffffff;
}

.footer-nav li a:hover{
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}

.newsletter-form input {
 border-radius: 30px;
 color: #AAAAAA;
 padding: 12px 20px;
 width: 344px;
}

.footer-social span {
    margin-bottom: 16px;
    display: block;
}

.footer-social ul {
    display: flex;;
    gap: 20px;
    
}

.footer-social li a:hover img {
    opacity: 0.7;
}

.footer-copy {
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
}

@media (max-width:1000px) {
    .footer-content{
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-nav ul{
        flex-direction: column;
        gap: 2rem;
    }

    .footer-social ul{
        gap: 1rem;
    }

    .footer-copy {
        font-size: 1rem;
        padding: 1.5rem 0 1.5rem;
    }
}