.header {
    
    position: fixed; /* Adiciona a propriedade position fixed ao header */
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    background-color: #ffffffff; 
}

.logo img {
    height: 40px;
} 

.nav-center ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-center a:hover,
.nav-right a:hover {
    font-size: 1.25rem;
    color: #7c3aed;
}

.nav-right ul{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}